<app-header></app-header>
<div class="container" style="padding-top: 10px;">

    <div class="pagetitle">
        <h1>Accounts</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                <li class="breadcrumb-item active">Accounts</li>

            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <div class="col-lg-12">
                <div class="row">


                    <div class="col-xxl-3 col-md-3">
                        <div class="card info-card sales-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Daily</a></li>
                                    <li><a class="dropdown-item" href="#">Monthly</a></li>
                                    <li><a class="dropdown-item" href="#">Yearly</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Expense <span> | Daily</span> </h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-file-earmark-bar-graph"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>145</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-xxl-3 col-md-3">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Total Expense </h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-file-text"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>145</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-xxl-3 col-md-3">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Most Spent On </h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cash"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>Category</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-xxl-3 col-md-3">
                        <div class="card info-card revenue-card">



                            <div class="card-body">
                                <h5 class="card-title">Overall Spent </h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="fa fa-inr"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>3,264</h6>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>




                    <div class="col-lg-8">
                        <div class="card recent-sales overflow-auto">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Daily</a></li>
                                    <li><a class="dropdown-item" href="#">Monthly</a></li>
                                    <li><a class="dropdown-item" href="#">Yearly</a></li>
                                </ul>
                            </div>

                            <div class="card-body" style="height: 290px;">
                                <h5 class="card-title">Expense Summary <span>| Daily</span></h5>

                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Payment</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                        <tr>
                                            <th scope="row"><a href="#">#1</a></th>
                                            <td>abc</td>
                                            <td><a href="#" class="text-primary">25000</a></td>
                                            <td>25-07-2021</td>
                                            <td>Entertaiment</td>
                                            <td><span class="badge bg-success">Credit</span></td>

                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">#2</a></th>
                                            <td>abc</td>
                                            <td><a href="#" class="text-primary">25000</a></td>
                                            <td>25-07-2021</td>
                                            <td>Entertaiment</td>
                                            <td><span class="badge bg-success">cash</span></td>

                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">#3</a></th>
                                            <td>abc</td>
                                            <td><a href="#" class="text-primary">25000</a></td>
                                            <td>25-07-2021</td>
                                            <td>Entertaiment</td>
                                            <td><span class="badge bg-success">Debit</span></td>

                                        </tr>
                                        <tr>
                                            <th scope="row"><a href="#">#4</a></th>
                                            <td>abc</td>
                                            <td><a href="#" class="text-primary">25000</a></td>
                                            <td>25-07-2021</td>
                                            <td>Entertaiment</td>
                                            <td><span class="badge bg-success">Credit</span></td>

                                        </tr>

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Calendar </h5>
                                <div class="activity">
                                    <div id="calendar"></div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Daily</a></li>
                                    <li><a class="dropdown-item" href="#">Month</a></li>
                                    <li><a class="dropdown-item" href="#">Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body pb-0">
                                <h5 class="card-title">Accounts </h5>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><i class="bi bi-cash"> Cash</i>
                                        <p style="float: right;color: #012970;"><b><i class="fa fa-inr"></i> 40000</b></p>
                                    </li>
                                    <li class="list-group-item"><i class="bi bi-credit-card-2-front"> Debit </i>
                                        <p style="float: right;color: #012970;"><b><i class="fa fa-inr"></i> 38000</b></p>
                                    </li>
                                    <li class="list-group-item"><i class="bi bi-credit-card"> Credit</i>
                                        <p style="float: right;color: #012970;"><b><i class="fa fa-inr"></i> 1000</b></p>
                                    </li>
                                    <li class="list-group-item"><i class="bi bi-cash"> OnlinePayment</i>
                                        <p style="float: right;color: #012970;"><b><i class="fa fa-inr"></i> 80000</b></p>
                                    </li>
                                    <li class="list-group-item"><i class="bi bi-house-door"> Asset</i>
                                        <p style="float: right;color: #012970;"><b><i class="fa fa-inr"></i> 100000 </b></p>
                                    </li>
                                    <li class="list-group-item"><i class="bi bi-bank"> BankAcc.</i>
                                        <p style="float: right;color: #012970;"><b><i class="fa fa-inr"></i> 20000 </b></p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="card">
                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Daily</a></li>
                                    <li><a class="dropdown-item" href="#">Month</a></li>
                                    <li><a class="dropdown-item" href="#">Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body pb-0">
                                <h5 class="card-title">Category </h5>
                                <ul class="list-group list-group-flush" id="myDIV">
                                    <li class="list-group-item">Food
                                        <p style="float: right;color: #012970;"><b><i class="fa fa-inr"></i> 38000</b></p>
                                    </li>
                                    <li class="list-group-item">Food
                                        <p style="float: right;color: #012970;"><b><i class="fa fa-inr"></i> 38000</b></p>
                                    </li>
                                    <li class="list-group-item">Food
                                        <p style="float: right;color: #012970;"><b><i class="fa fa-inr"></i> 38000</b></p>
                                    </li>
                                    <li class="list-group-item">Food
                                        <p style="float: right;color: #012970;"><b><i class="fa fa-inr"></i> 38000</b></p>
                                    </li>
                                    <li class="list-group-item">Food
                                        <p style="float: right;color: #012970;"><b><i class="fa fa-inr"></i> 38000</b></p>
                                    </li>
                                    <li class="list-group-item">Food
                                        <p style="float: right;color: #012970;"><b><i class="fa fa-inr"></i> 38000</b></p>
                                    </li>
                                    <li class="list-group-item">Food
                                        <p style="float: right;color: #012970;"><b><i class="fa fa-inr"></i> 38000</b></p>
                                    </li>
                                    <li class="list-group-item">Food
                                        <p style="float: right;color: #012970;"><b><i class="fa fa-inr"></i> 38000</b></p>
                                    </li>
                                    <li class="list-group-item">Food
                                        <p style="float: right;color: #012970;"><b><i class="fa fa-inr"></i> 38000</b></p>
                                    </li>
                                  

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </section>

</div>
