#calendar {
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#myDIV {
    height: 340px;
    width: auto;
    overflow: auto;
  
  }
  
  #content {
    margin:500px;
    height: 800px;
    width: 2000px;
   
  }